<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controlador.Login</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ServletCursos</servlet-name>
        <servlet-class>Controlador.ServletCursos</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ServletCursos</servlet-name>
        <url-pattern>/ServletCursos</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>ServletEstudiantes</servlet-name>
        <servlet-class>Controlador.ServletEstudiantes</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ServletEstudiantes</servlet-name>
        <url-pattern>/ServletEstudiantes</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ServletProfesores</servlet-name>
        <servlet-class>Controlador.ServletProfesores</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ServletProfesores</servlet-name>
        <url-pattern>/ServletProfesores</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ServletUsuarios</servlet-name>
        <servlet-class>Controlador.ServletUsuarios</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ServletUsuarios</servlet-name>
        <url-pattern>/ServletUsuarios</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
